@mixin button-variant($color, $bg) {
    color: $color;
    background: $bg;
}
.button {
    @include button-variant (white, red);
    border: 0;
    font-size: 14px;
    padding: 10px 6px;
    &:hover {
        @include button-variant (black,#7DBEAF);
    }
    &-large {
        width: 100%;
    }
    &-medium {
        width: 45%;
        
    }
}
